<div class="container mx-auto max-w-full px-2 py-2">
  
  <div class="overflow-x-auto rounded-lg border border-gray-200 shadow-sm">
    <table class="min-w-full bg-white text-sm">
      <tbody class="divide-y divide-gray-200">
        <tr
          *ngFor="let track of tracks; let i = index"
          class="hover:bg-gray-200"
          [class.bg-gray-50]="i % 2 !== 0"
        >
          <td class="px-5 py-2 align-middle">
            <div class="w-12 h-12 flex items-center justify-center">
              <img
                *ngIf="track.albumArt"
                [src]="
                  'data:' +
                  track.albumArt.mimeType +
                  ';base64,' +
                  track.albumArt.data
                "
                alt="Album Art"
                class="w-full h-full object-cover rounded-sm"
              />
              <div
                *ngIf="!track.albumArt"
                class="w-full h-full bg-gray-100 rounded-sm flex items-center justify-center"
              >
                <span class="material-icons">album</span>
              </div>
            </div>
          </td>
          <td class="px-3 py-2 text-gray-900 max-w-[200px] truncate">
            {{ track.title }}
          </td>
          <td class="px-3 py-2 text-gray-900">{{ track.artist }}</td>
          <td class="px-3 py-2 text-gray-900">
            <a
              [routerLink]="['/album', track.id]"
              class="text-gray-900 hover:text-gray-500"
            >
              {{ track.album }}
            </a>
          </td>
          <td class="px-3 py-2 text-gray-900">{{ track.year }}</td>
          <td class="px-3 py-2 text-gray-900">
            {{ formatDuration(track.duration) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination controls -->
  <div class="flex justify-between items-center mt-4 px-4">
    <button
      (click)="loadTracks(currentPage - 1)"
      [disabled]="currentPage === 1"
      class="px-4 py-2 bg-gray-200 rounded disabled:opacity-50"
    >
      Previous
    </button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button
      (click)="loadTracks(currentPage + 1)"
      [disabled]="currentPage === totalPages"
      class="px-4 py-2 bg-gray-200 rounded disabled:opacity-50"
    >
      Next
    </button>
  </div>
</div>
