<div class="container mx-auto max-w-full px-2 py-6">
  <div class="overflow-x-auto rounded-lg border border-gray-200 shadow-sm">
    <table class="min-w-full bg-white text-sm">
      <thead class="bg-gray-50">
        <tr>
          <th
            class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-b border-gray-200 whitespace-nowrap"
          >
            Album Art
          </th>
          <th
            class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-b border-gray-200"
          >
            Title
          </th>
          <th
            class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-b border-gray-200"
          >
            Artist
          </th>
          <th
            class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-b border-gray-200"
          >
            Album
          </th>
          <th
            class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-b border-gray-200"
          >
            Year
          </th>
          <th
            class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-b border-gray-200"
          >
            Duration
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr
          *ngFor="let track of tracks; let i = index"
          class="hover:bg-gray-200"
          [class.bg-gray-50]="i % 2 !== 0"
        >
          <td class="px-5 py-2 align-middle">
            <div class="w-12 h-12 flex items-center justify-center">
              <img
                *ngIf="track.images?.length"
                [src]="
                  'data:' +
                  track.images[0].mime_type +
                  ';base64,' +
                  track.images[0].data
                "
                alt="Album Art"
                class="w-full h-full object-cover rounded-sm"
              />
              <div
                *ngIf="!track.images?.length"
                class="w-full h-full bg-gray-100 rounded-sm flex items-center justify-center"
              >
                <span class="text-gray-400 text-xxs"></span>
              </div>
            </div>
          </td>
          <td class="px-3 py-2 text-gray-900 max-w-[200px] truncate">
            {{ track.title }}
          </td>
          <td class="px-3 py-2 text-gray-900">{{ track.artist }}</td>

          <!-- Track Album link -->
          <td class="px-3 py-2 text-gray-900">
            <a
              [routerLink]="['/album', track.album]"
              class="text-gray-900 hover:text-gray-500"
            >
              {{ track.album }}
            </a>
          </td>

          <td class="px-3 py-2 text-gray-900">{{ track.year }}</td>
          <td class="px-3 py-2 text-gray-900">
            {{ formatDuration(track.duration) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
