.album-page-container {
  padding: 20px;
}

.album-header-section {
  display: flex;
  /* margin-bottom: 20px; */
  /* border-bottom: 1px solid #ddd; */
  padding-bottom: 25px;
}

.album-art {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.album-art-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain; /* or cover */
}

.no-album-art-large {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: #888;
}

.album-header-metadata h2 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 10px;
}

.album-header-metadata p {
  margin: 5px 0;
  color: #555;
}

.album-tracklist-section h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.album-track-list {
  list-style: none;
  padding: 0;
}

.album-track-list-item {
  display: flex;
  padding: 8px 12px;
  border-top: 1px solid #eee;
  box-sizing: border-box;
  align-items: center;
}

.album-track-list-item:last-child {
  border-bottom: 1px solid #eee;
}

.no-tracks-message,
.no-album-selected-message {
  padding: 15px;
  font-style: italic;
  color: #777;
}

.track-number-column,
.track-title-column,
.track-duration-column,
.track-actions-column {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: left;
  padding-right: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.track-number-column {
  flex-basis: 3%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}

.track-title-column {
  flex-basis: 80%;
  font-weight: normal;
}

.track-duration-column {
  flex-basis: 14%;
  text-align: right;
  color: #777;
  padding-right: 0;
  padding-left: 10px;
}

.track-actions-column {
  flex-basis: 3%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.track-actions-button {
  background: none;
  border: none;
  font-size: 1.2em;
  color: #777;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.track-actions-button:hover {
  color: #333;
}

.odd-track {
  background-color: #f9f9f9;
}

.album-year-genre {
  color: #777;
  margin-bottom: 5px;
}

.album-runtime {
  font-size: 0.9em;
  color: #888;
  margin-top: 5px;
}
