<div class="container mx-auto max-w-full">
  <div *ngIf="album" class="bg-white rounded-lg p-4">
    <button
      *ngIf="returnToArtist"
      (click)="backToArtist()"
      class="flex items-center text-stone-500 hover:text-stone-400 mb-3"
    >
      <span class="material-icons">arrow_back</span>
      <span class="ml-1">{{ returnToArtist }}</span>
    </button>

    <div class="flex items-start gap-6">
      <div class="w-32 h-32 flex-shrink-0">
        <img
          *ngIf="album.albumArt"
          [src]="
            'data:' + album.albumArt.mimeType + ';base64,' + album.albumArt.data
          "
          alt="Album cover"
          class="w-full h-full object-cover rounded-lg"
        />
        <div
          *ngIf="!album.albumArt"
          class="w-full h-full bg-gray-100 rounded-lg flex items-center justify-center"
        >
          <span class="material-icons">album</span>
        </div>
      </div>

      <div>
        <h1 class="text-2xl font-bold text-gray-800 mb-1">
          {{ album.name }}
        </h1>
        <p class="text-lg text-gray-600 mb-1">{{ album.artist }}</p>
        <div class="flex gap-4 text-xs text-gray-500">
          <span>{{ album.genre }}</span>
          <span>&middot;</span>
          <span>{{ album.year }}</span>
        </div>
      </div>
    </div>

    <!-- track list -->
    <div class="mt-6">
      <div class="-mx-4">
        <div class="divide-y divide-gray-200">
          <div
            *ngFor="let track of album.tracks; let i = index"
            class="w-full px-4 hover:bg-gray-100 w-full"
            [class.bg-gray-50]="i % 2 === 0"
          >
            <div class="py-3 flex items-center gap-4">
              <span class="text-sm text-gray-400 w-6">{{
                track.trackNumber || i + 1
              }}</span>
              <div class="flex-1">
                <p class="text-sm text-gray-800">
                  {{ track.title || "Untitled" }}
                </p>
              </div>
              <span class="text-gray-500">
                {{ formatDuration(track.duration) }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- bottom -->
    <div class="pt-2 flex gap-2 text-xs text-gray-400">
      <span class="">
        {{ album.tracks?.length || 0 }}
        {{ album.tracks?.length === 1 ? "track" : "tracks" }}
      </span>
      <span>&middot;</span>
      <span class="">
        {{ formatDuration(getTotalDuration()) }}
      </span>
    </div>
  </div>
</div>
